h1{
	font-family: Arial Black;
	text-align: center;
	color: white;	
	background-color: black;
	padding: 30px;
}
hr{
	border: 2px solid black;
	width: 50%
}
p{
	font-family: Montserrat;
	

}
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.special_para{
	font-size: 20px;
}
#hate_it
{
	color: red;
}
header{
	background-color: black;
	padding: 10px;
}
ul{
	list-style: none;

}
li{
	display: inline;
	margin: 100px;
	
}
li a{
	color: white;
	text-decoration: none;
}
li a:hover{
	color: red;
	text-decoration: line-through;
}
footer{
	padding: 8px;
	background-color: black;
	color: white;
	text-align: center;
}